*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, 'Arial Narrow', Arial, sans-serif;

}

body{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

#cal {
    width: 400px;
    padding: 0.5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#cal h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: #666;
}

#operations {
    text-align: right;
}

#previous-operation,
#current-operation {
    min-height: 1.6em;
    padding: 0.8em;
    overflow-wrap: break-word;
}

#previous-operation {
    color: rgb(107, 5, 5);
    background-color: #000;
}

#current-operation {
    font-size: 2em;
    font-weight: 700;
    background-color: #c4c4c4;
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    width: 300px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#button-container .number {
    background-color: #f3f3f3;
}

#buttons-container button:hover {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    border-color: #999;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #75a5db;
}

#buttons-container #equal-btn:hover {
    background-color: #3a91db;
}


@media (max-width: 480px) {
    body{
        padding: 65px;
    }
    #buttons-container {
        width: 320px;
    }
  }